<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InoFarm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HeaderComum.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <img src="~/img/Ino-Farm.png" alt="Logo da INO FARM" class="logo">
            <nav>
                <ul>
                    <li><a class="pagFrutas" asp-action="ListaFrutas" asp-controller="Frutas">Frutas</a></li>
                    <li><a class="quem-somos" asp-action="QuemSomos" asp-controller="Home">Quem Somos</a></li>
                    <li>
                        <a href="#perfil">
                            <img src="~/img/perfil.png" alt="perfil" class="perfil">
                        </a>
                        <p class="cadastro">
                            <a class="logCad" asp-action="Login" asp-controller="Usuario">Entre</a> ou 
                            <a class="logCad" asp-action="Cadastro" asp-controller="Usuario">Cadastre-se</a>
                            <span> para ver seus pedidos</span>
                        </p>
                    </li>
                    <li>
                        <a asp-action="VisualizarCarrinho" asp-controller="Carrinho">
                            <img src="~/img/carrinho.png" alt="carrinho" class="carrinho">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <p>© 2024 InoFarm. Todos os direitos reservados.</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
