@model IEnumerable<InoFarm.Models.FrutaModel>

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<body>
    <div class="header">
        <div class="buttons">
            <a asp-action="Login" asp-controller="Usuario" class="btn-login">Login</a>
            <a asp-action="Cadastro" asp-controller="Usuario" class="btn-register">Cadastrar-se</a>
        </div>
    </div>

    <section class="catalog">
        <h1>Frutas Frescas</h1>
        <div class="frutas-lista">
            @foreach (var fruta in Model)
            {
                <div class="fruta-item">
                    <h2>@fruta.Nome</h2>
                    <p><strong>Preço:</strong> R$ @fruta.Preco.ToString("F2")</p>
                    <p>@fruta.Descricao</p>
                    <p><strong>Forma de venda:</strong> @fruta.formaVenda</p>
                </div>
            }
        </div>
    </section>
</body>
